
## => Site Settings
##############################
text_skin: default # "default" (default), "dark", "forest", "ocean", "chocolate", "orange"
highlight_theme: default # "default" (default), "tomorrow", "tomorrow-night", "tomorrow-night-eighties", "tomorrow-night-blue", "tomorrow-night-bright"
url     : https://kieran-mackle.github.io # the base hostname & protocol for your site e.g. https://www.someone.com
baseurl : /AutoTrader # does not include hostname
title   : AutoTrader
description: > # this means to ignore newlines until "Language & timezone"
  A Python-based platform for developing automated
  trading systems.
future: false

## => Language and Timezone
##############################
lang: en # the language of your site, default as "en"
timezone: Australia/Brisbane #


## => Author and Social
##############################
author:
  type      : # "person" (default), "organization"
  name      : Kieran Mackle
  url       :
  avatar    : # path or url of avatar image (square)
  bio       : 
  email     : kemackle98@gmail.com
  facebook  : # "user_name" the last part of your profile url, e.g. https://www.facebook.com/user_name
  twitter   : # "user_name" the last part of your profile url, e.g. https://twitter.com/user_name
  weibo     : # "user_id"   the last part of your profile url, e.g. https://www.weibo.com/user_id/profile?...
  googleplus: # "user_id"   the last part of your profile url, e.g. https://plus.google.com/u/0/user_id
  telegram  : # "user_name" the last part of your profile url, e.g. https://t.me/user_name
  medium    : # "user_name" the last part of your profile url, e.g. https://medium.com/user_name
  zhihu     : # "user_name" the last part of your profile url, e.g. https://www.zhihu.com/people/user_name
  douban    : # "user_name" the last part of your profile url, e.g. https://www.douban.com/people/user_name
  linkedin  : kieran-mackle-820090163 # "user_name" the last part of your profile url, e.g. https://www.linkedin.com/in/user_name
  github    : kieran-mackle/AutoTrader # "user_name" the last part of your profile url, e.g. https://github.com/user_name
  npm       : # "user_name" the last part of your profile url, e.g. https://www.npmjs.com/~user_name


## => GitHub Repository (if the site is hosted by GitHub)
##############################
repository: kieran-mackle/AutoTrader
repository_tree: gh-pages


## => Paths
##############################
paths:
  root    : # title link url, "/" (default)
  home    : /blog # home layout url, "/" (default)
  archive : # "/archive.html" (default)
  rss     : # "/feed.xml" (default)


## => Post
##############################
## excerpt
excerpt_separator: <!--more-->

## license
license: CC-BY-NC-4.0 # "CC-BY-4.0", "CC-BY-SA-4.0", "CC-BY-NC-4.0", "CC-BY-ND-4.0"

## TOC
toc:
  selectors: # "h1,h2,h3" (default)


## => Markdown Enhancements
##############################
## Mathjax
mathjax: # false (default), true
mathjax_autoNumber: # false (default), true

## Mermaid
mermaid: # false (default), true

## Chart
chart: # false (default), true


## => Paginate
##############################
paginate: 8
paginate_path: /page:num # don't change this unless for special need


## => Sources
##############################
sources: # bootcdn (default), unpkg


## => Sharing
##############################
sharing:
  provider: false # false (default), "addtoany", "addthis", "custom"

  ## AddThis
  addthis:
    id: # AddThis pubid, e.g. ra-5xxxxxxxxxxx


## => Comments
##############################
comments:
  provider: gitalk # false (default), "disqus", "gitalk", "valine", "custom"

  ## Disqus
  disqus:
    shortname: # the Disqus shortname for the site

  ## Gitalk
  # please refer to https://github.com/gitalk/gitalk for more info.
  gitalk:
    clientID    : 60e2ebb8196620e59928 # GitHub Application Client ID
    clientSecret: 07a6e5a98dce70bf243fa45d9e63f124706c4313 # GitHub Application Client Secret
    repository  : AutoTrader # GitHub repo
    owner       : kieran-mackle # GitHub repo owner
    admin: # GitHub repo owner and collaborators, only these guys can initialize GitHub issues, IT IS A LIST.
      - kieran-mackle

  ## Valine
  # please refer to https://valine.js.org/en/ for more info.
  valine:
    app_id      : # LeanCloud App id
    app_key     : # LeanCloud App key
    placeholder : # Prompt information
    visitor     : # false (default)
    meta        : # "[nick, mail, link]" (default) nickname, E-mail, Personal-site


## => Pageview
##############################
pageview:
  provider: false # false (default), "leancloud", "custom"

  ## Leancloud
  leancloud:
    app_id    : # LeanCloud App id
    app_key   : # LeanCloud App key
    app_class : # LeanCloud App class


## => Search
##############################
search:
  provider: 'default' # "default" (default), false, "google", "custom"

  ## Google Custom Search Engine
  google:
    custom_search_engine_id: 630951c05f5a8a356 # Google Custom Search Engine ID


## => Analytics
##############################
analytics:
  provider: google # false (default), "google", "custom"

  ## Google Analytics
  google:
    tracking_id : UA-203437409-1 # Google Analytics id for the site
    anonymize_ip: false # Anonymize IP tracking for Analytics


## => Build
##############################
markdown    : kramdown
highlighter : rouge
permalink   : date

include:
  - content
  # - _docs
  # - _tutorials

exclude:
  - CHANGELOG.md
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
  - gulpfile.js
  - jekyll-text-theme.gemspec
  - package-lock.json
  - package.json
  - /node_modules
  - /vendor

collections_dir: content
collections:
  documentation:
    output: true
  tutorials:
    output: true
  posts:
    output: true

defaults:
  ## Posts
  - 
    scope:
      path: _posts
      type: posts
    values:
      layout: article
      sharing: true
      license: false
      nav_key: Blog
      aside:
        toc: true
      show_edit_on_github: false
      show_subscribe: false
      pageview: true
  ## docs
  - 
    scope:
      path: _documentation
    values:
      layout: article
      nav_key: Documentation
      sidebar:
        nav: Documentation
      license: false
      aside:
        toc: true
      show_edit_on_github: false
      show_date: false
      # lightbox: true
  ## Tutorials
  - 
    scope:
      path: _tutorials
    values:
      layout: article
      nav_key: Tutorials
      sidebar:
        nav: Tutorials
      license: false
      aside:
        toc: true
      show_edit_on_github: false
      show_date: false
      # lightbox: true


## => Plugins
##############################
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
